<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">As an arm of a non grapefruit growing business, we apply our combined 0 seconds of agricultural knowledge to grapefruits. Since 2018, our team of inexperienced grapefruit growers has met the liquidity needs of the grapefruit ecosystem by providing competitive two-sided markets designed to minimize soil impact.</h3>
                </div>
            </div>
        </div>
    </section>