<!-- Team Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
               
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="questions"> How are your grapefruits made? </div>
                    <p class="large text-muted">We take your hard earned BCH, plant them in the ground, carefully water and nurture them with organic fertilizer and love until a fully formed grapefruit appears.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="questions"> Do you accept BTC? </div>
                    <p class="large text-muted">No. Grapefruits require large block sizes in order to thrive. Perhaps try a firm that specializes in smaller citrus fruits like tangerine trading.</p>
                </div>
            </div>
        </div>
    </section>