<!-- Team Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row"> 
               
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="questions"> What cryptos do you trade? </div>
                    <p class="large text-muted faq">As a personalized service, we are happy to discuss trading any cryptos. Please contact us below to get started.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="questions"> What fees do you charge? </div>
                    <p class="large text-muted faq">Zero. Our prices are calculated having taken into account a variety of risk factors ranging from market conditions to transaction costs. There are no fees charged on top of our prices.  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="questions"> How do I start trading? </div>
                    <p class="large text-muted faq">To start trading, fill out the contact form below, and one of our team members will contact you shortly. After a brief onboarding process, you will be an approved counterparty capable of trading at any time. </p>
                </div>
            </div>
        </div>
    </section>