<!-- Services Section -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="service-heading">Helping you navigate a complex marketplace</h2>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Liquid</h4>
                    <p class="text-muted">Our team stands ready to provide OTC liquidity and reduce barriers to trading</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledgable</h4>
                    <p class="text-muted">Work with our experts who can show you everything from the basics to the cutting edge</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Personal</h4>
                    <p class="text-muted">Experience our tailored process that can help you with any pre and post trade needs</p>
                </div>
            </div>
        </div>
    </section>