<!-- Services Section -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="service-heading">Specializing in two-sided, institutional sized liquidity for the grapefruit market</h2>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deep Liquidity</h4>
                    <p class="text-muted">With teams in Chicago, Miami, and Tulsa, we are a leading liquidity provider in grapefruits, with deep OTC liquidity</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Efficient</h4>
                    <p class="text-muted">Our planting and growing processes provide a streamlined experience for even the largest institutional trades, allowing efficent grapefruit management</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diligence</h4>
                    <p class="text-muted">Our onboarding process provides counterparties with the ability to transact seamlessly after becoming an approved counterparty</p>
                </div>
            </div>
        </div>
    </section>